/* General Styles */
body {
    font-family: "Arial", sans-serif;
    background-color: #e6dfdf;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Form Container */
  form {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #ffffff; 
  }
  
  /* Form Labels */
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Form Inputs */
  form input[type="text"],
  form input[type="email"],
  form select,
  form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Form Button */
  form button[type="submit"] {
    background-color: #d72f2f; /* Red color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button[type="submit"]:hover {
    background-color: #1ea82c; /* Green color on hover */
  }
  
  /* Error Messages */
  form span p {
    color: #d72f2f; /* Red color for errors */
    font-size: 14px;
    margin: 0;
  }
  
  /* Image Preview */
  .image-preview {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
  }
  
  .image-preview img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .remove-image {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }


  