.photo-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.photo-card {
    width: 250px;
    text-align: center;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.photo-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}
.btn-primary{
    background-color: green;
}