<div class="modal fade" id="updateStudentsModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Number of Students</h5>
            </div>
            <div class="modal-body">
                <form id="studentsForm">
                    <input type="hidden" id="paidId" name="paid_id">

                    <div class="mb-3">
                        <label class="form-label">Number of Students</label>
                        <input type="number" class="form-control" name="no_students" id="noStudents" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Semester</label>
                        <select class="form-control" name="semester" id="studentSemester" required>
                            <option value="1st">1st Semester</option>
                            <option value="2nd">2nd Semester</option>
                        </select>
                    </div>

                    <input type="hidden" name="school_year_id" id="studentSchoolYearId">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="confirmSaveStudents">Update Students</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>